/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus-Dark";
  display-drun: "  ";
  display-window: "﩯 ";
  display-combi: "  ";
  modi: "drun,window,calc";
}
@theme "themes/desert.rasi"
